.iconButton {
  font-size: 24px;
  border: 0px;
  background-color: transparent;
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconButtonBadge {
  font-size: 16px;
  color: #292929;
}
