body {
  background-color: #f0f2f5;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

* {
  margin: 0;
  padding: 0;
}

.divider {
  margin: 5px 0;
  background-color: #65676b;
  height: 1px;
}

.card {
  padding: 16px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #ffffff;
  color: #050505;
}
